
.App{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todoList{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0;
}
.todoList > div{
  display: flex;
  justify-content: space-between;
}
.todoFooter{
  display: flex;
  justify-content: space-between
}

input{
  padding: 5px;
  margin: 5px;
}

button{
  padding: 5px;
}
.child{
  border: 1px solid ;
  padding: 20px;
}